blockquote {
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #cccccc;
  cite {
    display: block;
    font-size: 12px;
    color: #555;
    a, a:visited {
      color: #555;
    }
    &:before {
      content: "\2014 \0020";
    }
  }
}